/* Fonts */
@font-face {
  font-family: "Source Code Pro";
  src: url('fonts/SourceCodePro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('fonts/SourceCodePro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('fonts/SourceCodePro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "Source Sans Pro";
  src: url('fonts/SourceSansPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('fonts/SourceSansPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('fonts/SourceSansPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}