#loading_screen {
    $blue: #81a2be;
    color: white;
    font-family: "Source Sans Pro";
    font-size: 2em;
    height: 2em;
    line-height: 2em;
    font-weight: 300;
    padding: 0 1em;
    text-align: center;
    border: 1px solid darken($blue, 10%);
    @include background(linear-gradient(lighten($blue, 5%), darken($blue, 5%)));
    @include box-shadow(0 1px 0 0 rgba(255,255,255,0.3) inset, 0 0 15px 3px black);
    border: 1px solid darken($blue, 20%);
    @include border-radius(3px);
    position: fixed;
    top: 50%;
    left: 1em;
    right: 1em;
    margin-top: -1.5em;
    opacity: 1; /* Set by JavaScript */
    @include transition(opacity 0.8s linear);
}