/* Nickname Colors */

body .inline_nickname {
    //font-weight: 700;
}

body div[type*=privmsg] .sender[type*=myself] {
    //color: white;
}

body .sender[type*=normal][colornumber='0'],
body .inline_nickname[colornumber='0'] {
    color: #cc6666;
}

body .sender[type*=normal][colornumber='1'],
body .inline_nickname[colornumber='1'] {
    color: #de935f;
}

body .sender[type*=normal][colornumber='2'],
body .inline_nickname[colornumber='2'] {
    color: #f0c674;
}

body .sender[type*=normal][colornumber='3'],
body .inline_nickname[colornumber='3'] {
    color: #b5bd68;
}

body .sender[type*=normal][colornumber='4'],
body .inline_nickname[colornumber='4'] {
    color: #8abeb7;
}

body .sender[type*=normal][colornumber='5'],
body .inline_nickname[colornumber='5'] {
    color: #81a2be;
}

body .sender[type*=normal][colornumber='6'],
body .inline_nickname[colornumber='6'] {
    color: #b294bb;
}

body .sender[type*=normal][colornumber='7'],
body .inline_nickname[colornumber='7'] {
    color: #c82829;
}

body .sender[type*=normal][colornumber='8'],
body .inline_nickname[colornumber='8'] {
    color: #75A1FB;
}

body .sender[type*=normal][colornumber='9'],
body .inline_nickname[colornumber='9'] {
    color: #f5871f;
}

body .sender[type*=normal][colornumber='10'],
body .inline_nickname[colornumber='10'] {
    color: #eab700;
}

body .sender[type*=normal][colornumber='11'],
body .inline_nickname[colornumber='11'] {
    color: #718c00;
}

body .sender[type*=normal][colornumber='12'],
body .inline_nickname[colornumber='12'] {
    color: #3e999f;
}

body .sender[type*=normal][colornumber='13'],
body .inline_nickname[colornumber='13'] {
    color: #4271ae;
}

body .sender[type*=normal][colornumber='14'],
body .inline_nickname[colornumber='14'] {
    color: #8959a8;
}

body .sender[type*=normal][colornumber='15'],
body .inline_nickname[colornumber='15'] {
    color: #f2777a;
}

body .sender[type*=normal][colornumber='16'],
body .inline_nickname[colornumber='16'] {
    color: #f99157;
}

body .sender[type*=normal][colornumber='17'],
body .inline_nickname[colornumber='17'] {
    color: #ffcc66;
}

body .sender[type*=normal][colornumber='18'],
body .inline_nickname[colornumber='18'] {
    color: #99cc99;
}

body .sender[type*=normal][colornumber='19'],
body .inline_nickname[colornumber='19'] {
    color: #66cccc;
}

body .sender[type*=normal][colornumber='20'],
body .inline_nickname[colornumber='20'] {
    color: #6699cc;
}

body .sender[type*=normal][colornumber='21'],
body .inline_nickname[colornumber='21'] {
    color: #cc99cc;
}

body .sender[type*=normal][colornumber='22'],
body .inline_nickname[colornumber='22'] {
    color: #ff9da4;
}

body .sender[type*=normal][colornumber='23'],
body .inline_nickname[colornumber='23'] {
    color: #ffc58f;
}

body .sender[type*=normal][colornumber='24'],
body .inline_nickname[colornumber='24'] {
    color: #ffeead;
}

body .sender[type*=normal][colornumber='25'],
body .inline_nickname[colornumber='25'] {
    color: #d1f1a9;
}

body .sender[type*=normal][colornumber='26'],
body .inline_nickname[colornumber='26'] {
    color: #99ffff;
}

body .sender[type*=normal][colornumber='27'],
body .inline_nickname[colornumber='27'] {
    color: #bbdaff;
}

body .sender[type*=normal][colornumber='28'],
body .inline_nickname[colornumber='28'] {
    color: #ebbbff;
}

body .sender[type*=normal][colornumber='29'],
body .inline_nickname[colornumber='29'] {
    color: #d54e53;
}

body .sender[type*=normal][colornumber='30'],
body .inline_nickname[colornumber='30'] {
    color: #e78c45;
}